<?xml version="1.0"?>
 
<model>
  <name>L_pipe</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>
  
  <author>
    <name>GZ</name>
    <email>2205250117@qq.com</email>
  </author>
 
  <description>
    A model of a L_pipe : Inner diameter 35mm, thickness 2.5mm, length 55mm.
  </description>
</model>
